.content {
    margin-top: 100px;
}

.content table {
    width: 70%;
    margin: 0 auto;
}

.admin .agenda-event {
    width: 800px;
    float: left;
}

.admin form {
    float: left;
    margin-top: 44px;
    margin-left: 40px;
}