body {
    font-family: 'Lucida Grande', 'Arial', sans-serif;
}
a,
a:hover,
a:focus {
    text-decoration: none;
}
.top-buffer {
    margin-top: 8px;
}
/* remove spacing between middle columns */

.home .row.no-gutter [class*='col-']:not(:first-child):not(:last-child) {
    padding-right: 4px;
    padding-left: 4px;
}
/* remove right padding from first column */

.home .row.no-gutter [class*='col-']:first-child {
    padding-right: 4px;
}
/* remove left padding from first column */

.home .row.no-gutter [class*='col-']:last-child {
    padding-left: 4px;
}
.home {
    text-align: center;
    width: 100%;
    background: black;
    padding-bottom: 2%;
}
.menu {
    border-radius: 7px;
    padding: 12.5% 0;
}
.presence {
    background: #383838;
}
a .presence {
    color: #FFFFFF;
}
.agenda {
    background: #ccdfcb;
}
a .agenda {
    color: #383838;
}
.menu.trombi {
    background: #ff685f;
}
a .menu.trombi {
    color: #ffffff;
}
.preference {
    background: #ffffff;
}
a .preference {
    color: #ff685f;
}
input:focus,
textarea:focus {
    outline: none;
}
.login {
    text-align: center;
    padding-bottom: 20%;
}
.logo-ucp {
    margin-top: 40%;
}
.login input[type=text],
{
    margin-bottom: 10px;
    border: 2px solid #ff675a;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.btn-large {
    background: #ff675a;
    border: none;
    border-radius: 5px;
    padding: 3px 15px;
    color: white;
    transition: all .2s;
}
.btn-large:hover {
    background: #e55d51;
    transition: all .2s;
}
.login h2 {
    color: #383838;
}
/* Trombi */

.trombi,
.profile {
    text-align: center;
}
.trombi h2 {
    color: #ff675a;
    font-weight: bold;
}
.student {
    min-height: 128px;
}
.student a {
    color: #076486;
    font-weight: bold;
    font-size: .85em;
}
.thumb-picture {
    width: 70px;
    border-radius: 50%;
    margin: 0 auto 0 auto;
}
/*Profile*/
.btn2{
    font-size: 12px;
    background: white;
    padding: 2px 8px;
    border-radius: 4px;
    color: #ff685f;
}
.header {
    background: #ff685f;
    padding: 5% 0;
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: .9em;
}
.button {
    z-index: 1;
    font-size: .6em;
    color: rgba(0, 0, 0, .5);
}
.button:hover {
    color: rgba(0, 0, 0, .7);
}
.back {
    position: absolute;
    top: 1em;
    left: 2%;
}
.update-profil {
    position: absolute;
    top: 1em;
    right: 2%;
    font-size: .5em;
}
.profile .thumb-picture {
    border: 3px solid white;
}
.profile .name {
    color: white;
    font-weight: bold;
}
.informations {
    text-align: left;
}
.social-media [class^="icon-"] {
    display: inline-block;
    font-size: 3em;
}
.profile .informations p {
    display: inline-block;
    vertical-align: 3px;
}

.profile .informations [class^="icon-"] {
    display: inline-block;
    font-size: 1.6em;
    top: 2px;
    position: relative;
    right: 6px;
}
/*ProfileUpdate*/

.profile-update input[type=text],
.profile-update textarea,
button {
    width: 100%;
}
.profile-update h3 {
    text-align: center;
}