<section class="container-fluid login" ng-controller="AgendaAdminCtrl">
    <a href="/agenda" class="button back"><i class="icon-arrow-left"></i></a>
    <h3>Administration Agenda</h3> 

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h4>Créer un événement</h4>
            <form ng-submit="createEvent()">
                Titre:
                <input type="text" ng-model="event.events.description">
                <br>Date de début:
                <input type="date" ng-model="event.events.start">
                <br>Date de fin:
                <input type="date" ng-model="event.events.end">

                <br>
                <br>
                <button type="submit" class="btn-large">Valider</button>

            </form>
        </div>
        <div class="col-md-6 col-xs-12">
            <h4>Modifier un événement</h4>
            <form ng-submit="">
                Titre:
                <input type="text" ng-model="event.events.description">
                <br>Date de début:
                <input type="date" ng-model="event.events.start">
                <br>Date de fin:
                <input type="date" ng-model="event.events.end">

                <br>
                <br>
                <button type="submit" class="btn-large">Valider</button>

            </form>
        </div>
    </div>
<hr>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h4>Supprimer un événement</h4>
            <form ng-submit="">
                Titre:
                <input type="text" ng-model="event.events.description">
                <br>Date de début:
                <input type="date" ng-model="event.events.start">
                <br>Date de fin:
                <input type="date" ng-model="event.events.end">

                <br>
                <br>
                <button type="submit" class="btn-large">Valider</button>

            </form>
        </div>
        
    </div>

</section>