<section class="profile-update" ng-controller="ProfileUpdateCtrl">
<h2>Mettre à jour mes informations</h2>
<form ng-submit="">
    Nom : <input type="text" ng-model="student.last_name"><br>
    Prénom : <input type="text" ng-model="student.first_name">
</form>

<button type="submit" class="btn btn-primary">Valider</button>


</section>