<section class="profile-update" ng-controller="ProfileUpdateCtrl">

    <div class="container-fluid">
        <a ng-click="back()" class="button back"><i class="icon-arrow-left"></i></a>
        <span class="btn3 top-left" ng-click="logout()">Déconnexion</span>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <h4 class="text-center">Mettre à jour<br>mes informations</h4>
                <form ng-submit="editProfile()">
                    <label for="">Email :</label>
                    <input type="text" class="form-control" ng-model="student.email">
                    <br><label for="">Téléphone :</label>
                    <input type="text" class="form-control" ng-model="student.information.phone">
                    <br><label for="">Description :</label><br>
                    <textarea rows="5" class="form-control" ng-model="student.information.description"></textarea>
                    
                    <hr>
                    <h4>Liens vers mes profils sociaux</h4>
                    <label for="">Facebook :</label>
                    <input type="text" class="form-control" ng-model="student.information.facebook">
                    
                    <br><label for="">Twitter :</label>
                    <input type="text" class="form-control" ng-model="student.information.twitter">
                    
                    <br><label for="">LinkedIn :</label>
                    <input type="text" class="form-control" ng-model="student.information.linkedin">
                    
                    <br>
                    <button type="submit" class="btn-large">Valider</button><br><br>
                    <div ng-show="updateOk" class="alert alert-success">Profil mis à jour avec succès.</div>
                    <div ng-show="updateNotOk" class="alert alert-danger ">Une erreur est survenue et votre profil n'a pas été mis à jour.</div>
                </form>
            </div>
        </div>
    </div>
</section>